.App .body {
  color: #fff;
  background: rgba(245, 74, 70, 0.725);
  border: 15px solid #f54a46;
  border-radius: 8px;
  display: block;
  margin: 110px 10px 50px;
  padding: 100px;
}

@media (max-width: 992px) {
  .App .body {
    border: 5px solid #f54a46;
    margin: 25px 10px 50px;
    padding: 35px 25px;
  }
}
