.Dictionary h1 {
  font-size: 25px;
  font-weight: 300;
}

.Dictionary.search {
  padding-top: 150px;
}

.Dictionary input {
  border: 7px solid #f54a46;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 60px;
  outline: none;
  padding: 15px 25px;
  width: 450px;
}

.Dictionary img {
  max-height: 275px;
}
