.Footer {
  color: #888888;
  font-size: 15px;
  font-weight: 200;
  padding-bottom: 80px;
  text-align: center;
}

.Footer .github-repo-link {
  color: #f54a46;
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.Footer .github-repo-link:hover {
  color: #f54a46;
  font-weight: 500;
}
